@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

.flex {
	display: flex;
}

.col4Centered {
	margin-right: 17.435vw;
	margin-left: 17.435vw;
}

#mainTitle {
	font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
	font-weight: 700;
	font-size: 35px;
	line-height: 46.16px;
	margin-top: 16px;
}

.wrapper {
	justify-content: space-evenly;
}

#authorSignature {
	position: absolute;
	font-family: 'Roboto Slab', 'Courier New', Courier, monospace;
	font-weight: 400;
	font-size: 11px;
	line-height: 14.51px;
	bottom: 10px;
	left: 253px;
}

#choiceButton1,
#choiceButton2,
#choiceButton3 {
	border-radius: 10px;
	font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
	font-weight: 400;
	font-size: 17px;
	text-align: center;
	margin-top: 101px;
	height: 50px;
	width: 166px;
	border: none;
}

@media screen and (prefers-color-scheme: light) {
	body {
		background-color: rgb(200, 200, 200);
	}

	#mainTitle {
		color: rgb(18, 18, 18);
	}

	#counterText1,
	#counterText2 {
		/*font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
		font-weight: 400;
		font-size: 25px;
		line-height: 32.97px;*/
		color: #000;
	}

	#gameTable {
		background-color: rgb(125, 125, 125);
	}

	#Symbol_resetButton {
		color: rgb(18, 18, 18);
		background-color: rgb(141, 141, 141);
	}

	#authorSignature {
		color: rgb(102, 102, 102);
	}

	#Cell_1,
	#Cell_4,
	#Cell_7 {
		border-right: solid 1px #000;
	}

	#Cell_3,
	#Cell_6,
	#Cell_9 {
		border-left: solid 1px #000;
	}

	#Cell_4,
	#Cell_5,
	#Cell_6 {
		border-bottom: solid 1px #000;
		border-top: solid 1px #000;
	}

	.cell {
		border-color: #000;
	}

	.player1 {
		background-image: url(../images/Segno_Iniziale_Light.png);
		background-position: center;
		background-repeat: no-repeat;
	}

	.player2 {
		background-image: url(../images/Segno_secondo_Light.png);
		background-position: center;
		background-repeat: no-repeat;
	}
}

@media screen and (prefers-color-scheme: dark) {
	body {
		background-color: #1e1e1e;
	}

	#mainTitle {
		color: #fff;
	}

	#counterText1,
	#counterText2 {
		/*font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
		font-weight: 400;
		font-size: 25px;
		line-height: 32.97px;*/
		color: #fff;
	}

	#gameTable {
		background-color: #7d7d7d;
	}

	#Symbol_resetButton {
		color: #fff;
		background-color: rgb(141, 141, 141);
	}

	#authorSignature {
		color: #999;
	}

	#Cell_1,
	#Cell_4,
	#Cell_7 {
		border-right: solid 1px #fff;
	}

	#Cell_3,
	#Cell_6,
	#Cell_9 {
		border-left: solid 1px #fff;
	}

	#Cell_4,
	#Cell_5,
	#Cell_6 {
		border-bottom: solid 1px #fff;
		border-top: solid 1px #fff;
	}

	.cell {
		border-color: #fff;
	}

	.player1 {
		/*background-image: ;*/
		background-image: url(../images/Segno_Iniziale_Dark.png);
		background-position: center;
		background-repeat: no-repeat;
	}

	.player2 {
		/*background-image: ;*/
		background-image: url(../images/Segno_secondo_Dark.png);
		background-position: center;
		background-repeat: no-repeat;
	}
}
