@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

.flex {
	display: flex;
}

.col4GCentered {
	margin-right: 12.307vw;
	margin-left: 12.307vw;
}

.col4Centered {
	margin-right: 17.435vw;
	margin-left: 17.435vw;
}

#themeSwitch label {
	margin-left: 308px;
	margin-top: 30px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 62px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider-round {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #7d7d7d;
	/*-webkit-transition: 0.4s;*/
	transition: 0.4s;
	border-radius: 50px;
}

.slider-round:before {
	position: absolute;
	content: '';
	height: 32px;
	width: 32px;
	left: 2px;
	bottom: 1px;
	background-color: #d9ab67;
	/*-webkit-transition: 0.4s;*/
	transition: 0.4s;
	border-radius: 50%;
	z-index: 10;
}

.slider-round:after {
	position: absolute;
	content: '';
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background: #7d7d7d;
	right: 2px;
	bottom: 1px;
	transition: 0.4s;
}

/*.switch input:checked + .slider-round {
}

.switch input:focus + .slider-round {
}*/

.switch input:checked + .slider-round:before {
	/*-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);*/
	/*transform: translateX(26px);*/
	background-color: #7d7d7d;
	left: 18px;
}

.switch input:checked + .slider-round:after {
	background-color: #e0cb08;
}

#mainTitle {
	font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
	font-weight: 700;
	font-size: 35px;
	line-height: 46.16px;
	margin-top: 16px;
}

#pointsContainerDiv {
	justify-content: space-around;
	margin-top: 64px;
}

#player1Counter,
#player2Counter {
	transition: ease-in-out 0.5s;
	font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
	font-weight: 400;
	font-size: 25px;
	line-height: 32.97px;
}

.bordered {
	border-bottom: solid 1px #7d7d7d;
}

#gameTable {
	/*width: 100%; /* ?Will it work? */ /* !NO */
	border-radius: 30px;
	flex-wrap: wrap;
	margin-right: 12.307vw;
	margin-left: 12.307vw;
	margin-top: 27px;
	max-width: 75.38461538461538vw;
}

@media screen and (min-width: 768px) {
	#gameTable {
		/*width: 19.4%;*/
		margin-left: auto;
		margin-right: auto;
		width: 38%;
		max-width: 30%;
		min-width: 294px;
	}

	.cell {
		flex-basis: 33.3%;
		height: 12.08384710234279vh;
		width: /*25.12820512820513vw*/ 12.08384710234279vh;
		min-width: 98px;
		min-height: 98px;
	}
}

.cell {
	height: 12.08384710234279vh;
	width: 25.12820512820513vw;
	min-height: 98px;
	min-width: 98px;
}

#Cell_1,
#Cell_4,
#Cell_7 {
	border-right: solid 1px;
}

#Cell_3,
#Cell_6,
#Cell_9 {
	border-left: solid 1px;
}

#Cell_4,
#Cell_5,
#Cell_6 {
	border-bottom: solid 1px;
	border-top: solid 1px;
}
.modal-content {
	position: fixed;
	top: -100%;
	left: 0;
	transition: all 0.7s ease-in-out;
	width: 100%;
	min-height: 50%;
	background: #fff;
	text-align: center;
	z-index: 1000;
}

.modal-content.open {
	top: 0;
}

.modal-content h3 {
	font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
	font-weight: 700;
	font-size: 35px;
	line-height: 46.16px;
	margin-top: 16px;
}

#Symbol_resetButton {
	border-radius: 10px;
	font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
	font-weight: 400;
	font-size: 19px;
	line-height: 25.06px;
	text-align: center;
	margin-top: 11.96vh;
	height: 36px;
	width: 156px;
	border: none;
}

@media screen and (min-width: 768px) {
	#Symbol_resetButton {
		margin-top: 7vh;
	}

	#authorSignature {
		display: none;
	}
}

#authorSignature {
	font-family: 'Roboto Slab', 'Courier New', Courier, monospace;
	font-weight: 400;
	font-size: 11px;
	line-height: 14.51px;
	margin-top: 133px;
	margin-left: 253px;
}

@media screen and (prefers-color-scheme: light) {
	body {
		background-color: rgb(200, 200, 200);
	}

	#mainTitle {
		color: rgb(18, 18, 18);
	}

	#counterText1,
	#counterText2 {
		/*font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
		font-weight: 400;
		font-size: 25px;
		line-height: 32.97px;*/
		color: #000;
	}

	#gameTable {
		background-color: rgb(125, 125, 125);
	}

	#Symbol_resetButton {
		color: rgb(18, 18, 18);
		background-color: rgb(141, 141, 141);
	}

	#authorSignature {
		color: rgb(102, 102, 102);
	}

	#Cell_1,
	#Cell_4,
	#Cell_7 {
		border-right: solid 1px #000;
	}

	#Cell_3,
	#Cell_6,
	#Cell_9 {
		border-left: solid 1px #000;
	}

	#Cell_4,
	#Cell_5,
	#Cell_6 {
		border-bottom: solid 1px #000;
		border-top: solid 1px #000;
	}

	.cell {
		border-color: #000;
	}

	.player1 {
		background-image: url(../images/Segno_Iniziale_Light.png);
		background-position: center;
		background-repeat: no-repeat;
	}

	.player2 {
		background-image: url(../images/Segno_secondo_Light.png);
		background-position: center;
		background-repeat: no-repeat;
	}
}

@media screen and (prefers-color-scheme: dark) {
	body {
		background-color: #1e1e1e;
	}

	#mainTitle {
		color: #fff;
	}

	#counterText1,
	#counterText2 {
		/*font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
		font-weight: 400;
		font-size: 25px;
		line-height: 32.97px;*/
		color: #fff;
	}

	#gameTable {
		background-color: #7d7d7d;
	}

	#Symbol_resetButton {
		color: #fff;
		background-color: rgb(141, 141, 141);
	}

	#authorSignature {
		color: #999;
	}

	#Cell_1,
	#Cell_4,
	#Cell_7 {
		border-right: solid 1px #fff;
	}

	#Cell_3,
	#Cell_6,
	#Cell_9 {
		border-left: solid 1px #fff;
	}

	#Cell_4,
	#Cell_5,
	#Cell_6 {
		border-bottom: solid 1px #fff;
		border-top: solid 1px #fff;
	}

	.cell {
		border-color: #fff;
	}

	.player1 {
		/*background-image: ;*/
		background-image: url(../images/Segno_Iniziale_Dark.png);
		background-position: center;
		background-repeat: no-repeat;
	}

	.player2 {
		/*background-image: ;*/
		background-image: url(../images/Segno_secondo_Dark.png);
		background-position: center;
		background-repeat: no-repeat;
	}
}
